#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.env.backup
.vagrant
Vagrantfile
/node_modules

#-------------------------
# Temporary Files
#-------------------------
/public/uploads

writable/cache/*.*
writable/cache/*.cache
!writable/cache/index.html
!writable/cache/web/index.html
writable/cache/web/app/*.*
!writable/cache/web/app/index.html
writable/cache/web/plates/*.*
!writable/cache/web/plates/index.html
writable/cache/files/*.*
!writable/cache/files/index.html
writable/cache/arrayz/*.*
!writable/cache/arrayz/index.html

writable/logs/system/*.php
writable/logs/app/*.php
!writable/logs/index.html
!writable/logs/system/index.html
!writable/logs/app/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/resources/*
!writable/resources/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/
.vscode-upload.json

/results/
/phpunit*.xml
/.phpunit.*.cache
.phpunit.result.cache

phpstan.neon
psalm.xml

# Other possible states
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
